<pre><code>

Write a SQL query to get the nth highest salary from the Employee table.

+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
For example, given the above Employee table, the nth highest salary where n = 2 is 200. If there is no nth highest salary, then the query should return null.

+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+

</code></pre>

## Answer
<pre><code>

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  RETURN (
      # Write your MySQL query statement below.
      select case when max(rnk) < N then null else Salary end as getNthHighestSalary from
      (select Salary, dense_rank() over(order by Salary desc) as rnk from Employee) A
      where A.rnk = N
  );
END

</code></pre>